/* button:hover{
    cursor: crosshair;
}  */

@font-face {
    font-family: 'alte'; /* Give your font a name */
    src: url('fonts/AlteHaasGroteskRegular.ttf') format('truetype'); 
  }

  @font-face {
    font-family: 'script'; /* Give your font a name */
    src: url('fonts/exmouth_.ttf') format('truetype'); 
  }
  

body{
    background-color: black;
    margin:0;
}

#fourchan{
    font-family: tahoma bold;
    color: #800000;

}

/* enter button */




.content-container {
    position: relative;
}

.hide {
    display: none;
    position: absolute;
    top: 10%;
    left: 76%;
}

.rightimages {
    display: block;
    position: absolute;
    top: 60px;
    cursor: pointer;
}




#prayfor {
    cursor: pointer;
}
#cyberwar {
    cursor: pointer;
    z-index: 1

}
#cyberwar2 {
    cursor: pointer;
    z-index: 1
}
#rightimg{
    cursor: pointer;
    z-index: 1
    


}

.hide img{
    color: white;
    animation-name: glow2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#loveGif2{
    padding-left: 20px;
    padding-top: 27px;
    /* color: white;
    animation-name: glow2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */

}
#loveGif1{
    padding-left: 50px;
    padding-top: 0px;
}

element.style {
    color: white;
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: fixed;
    text-align: center;
    width: 100%;
    margin-top: 10%;
}
h1 {
    display: block;
    font-size: 1.6em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.enter-link {
    color: rgb(0, 255, 60); 
    font-family: 'script',sans-serif;
    font-size: 40px;;
}

.enter-link:visited {
    color: rgb(253, 172, 245); 
    font-family: 'script',sans-serif
    font-size: 40px;;
}


.enter-link:hover {
    color: rgb(0, 76, 255); 
    font-family: 'script',sans-serif
    font-size: 40px;;

}
h1, h2, h3 {
    position: relative;
    z-index: 2; /* Set a higher z-index for the text */
}

.bm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
    
}



h2, h3 {
    display: block;
    font-size: 1.3em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    text-align: center;
}
@keyframes glow{
    0% {
        text-shadow: 0px 0px 5px rgb(254, 254, 254), 0px 0px 5px #787466;
    }
    100% {
        text-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px #787466;
    }
}

@keyframes glow2{
    0% {
        box-shadow: 0px 0px 5px rgb(254, 254, 254), 0px 0px 5px #787466;
    }
    100% {
        box-shadow: 0px 0px 20px rgb(255, 255, 255), 0px 0px 20px #787466;
    }
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button{
    font-family: 'Times New Roman';
    font-size:large;
}

.text{
    padding-top: 30px;
    font-family: alte, sans-serif
}

h3 {
    font-family: script, sans-serif;
    font-size: 80px;
    margin: 0; /* Reset margin to remove any default margin */
    padding: 0; /* Reset padding to remove any default padding */
    line-height: 1; /* Adjust line-height as needed for spacing */
}









@media screen and (max-width: 768px) {
body{
    margin:0;
    overflow-x: hidden;
    padding: 0;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}



.text{

    padding-top: 5%;
    padding-left:5%;
    padding-right:5%;
    font-size: smaller;


}

